body {
    display: flex;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

body ul {
    list-style: none;
    padding-left: 0;
}

body a {
    text-decoration: none;
    color: black;
}
@media only screen and (min-width: 152px) and (max-width: 1024px) {
    .sidebar{
        display: none;
    }
    .content {
        width: 100%;
        margin-right: 0;
    }
    .education-title{
        width: 80%;
    }
}
@media not screen and (min-width: 152px) and (max-width: 1024px) {
    html {
        scroll-behavior: smooth;
    }
    .sidebar {
        position: fixed;
        margin: 0 10%;
        width: 25%;
    }
    .sidebar .sidebar-index{
        width: 100%;
        margin: 10% 0;
        font-weight: 700;
        font-size: x-large;
        font-family: 'Lato', sans-serif;
    }
    .content {
        max-width: 50%;
        margin: 0 25%;
    }

}
.content .section {
    padding: 5%;
    border-bottom: thin solid gray;
}

.section-title {
    font-size: x-large;
    font-family: 'Lato', sans-serif;
}

.section-subtitle {
    font-size: large;
    font-family: 'Lato', sans-serif;
}
.skill-list {
    font-family: 'Lato', sans-serif;
}
.skill {
    font-weight: 300;
    font-size: large;
}

.project-image {
    margin: 1em;
    width: 12em;
    height: auto;
}
.project-structure{
    width: 100%;
}
.project-skill {
    font-weight: 300;
    font-size:medium;
}

.project-thumb {
    width: 100%;
}
.education {
    display: flex;
    justify-content: space-between;
}
